<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Web -->
	<package id="google-chrome-x64" />
	<package id="lastpass" />

	<!-- Text Editors -->
	<package id="sublimetext3" />
	<package id="sublimetext3.packagecontrol" />
	<package id="notepadplusplus.install" />
	<package id="atom" />

	<!-- Development -->
	<package id="dotnet3.5" />
	<package id="ConEmu" />
	<package id="git.install" />
	<package id="tortoisegit" />
	<package id="TortoiseSVN" />
	<package id="fiddler4" />
	<package id="baretail" />
	<package id="logexpert" />
	<package id="beyondcompare" />

	<!-- Utilities -->
	<!-- <package id="QTTabBar" /> Out dated version -->
	<package id="Launchy" />
	<package id="sysinternals" />
	<package id="7zip.Install" />
	<package id="7zip.CommandLine" />
	<package id="greenshot" />
	<package id="Kindle" />
	<package id="Dropbox" />
	<package id="putty" />
	<package id="adobereader" />
	<package id="ditto" />
	<package id="windirstat" />
	<package id="vlc" />
</packages>